.divmenu{
    background-color: red;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 68px;
    font-family: Arial, Helvetica, sans-serif;


}
.logo1{
    float: left;
    height: 58px;
    margin: 5px 5px 5px 5px;
}
.logo2{
    float: right;
    height: 58px;
    margin: 5px 5px 5px 5px;
    
    
}
.titulomenu{
    position: fixed;
    top: 8px;
    color: white;
    left: 450px;
    
}
.tabela1{
    margin: auto;
    float: left;
    border-color: black;
    border-style: groove;
    width: 450px;

    background-color: white;
}
.tabela2{
    margin: auto;
    float: right;
    float: left;
    border-color: black;
    border-style: groove;
    width: 480px;
    background-color: white;
}
.tabela3{
    margin: auto;
    float: right;
    border-color: black;
    border-style: groove;
    width: 379px;
    background-color: white;
}
.tabela4{
    margin: auto;
    float: right;
    float: left;
    border-color: black;
    border-style: groove;
    width: 480px;
    background-color: white;
}
.tela{
    background-color: black;
}

